<?xml version="1.0"?>
<robot name="gps_sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin name="gps_controller" filename="libhector_gazebo_ros_gps.so">
            <alwayson>true</alwayson>
            <updateRate>40</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>base_link</frameId>
            <topicName>gps/fix</topicName>
            <velocityTopicName>gps/vel</velocityTopicName>
            <referenceLatitude>35.307076</referenceLatitude>
            <referenceLongitude>-80.7348572</referenceLongitude>
            <referenceHeading>0</referenceHeading>
            <referenceAltitude>10</referenceAltitude>
            <drift>0.0001 0.0001 0.0001</drift>
        </plugin>
    </gazebo>
    
    <!-- <gazebo>
        <plugin name="husky_gps" filename="libhector_gazebo_ros_gps.so">
            <alwayson>true</alwayson>
            <updateRate>1.0</updateRate>
            <bodyName>base_link</bodyName>
            <frameId>sensor</frameId>
            <topicName>gps/fix</topicName>
            <velocityTopicName>gps/vel</velocityTopicName>
            <referenceLatitude>35.307076</referenceLatitude>
            <referenceLongitude>-80.7348572</referenceLongitude>
            <referenceHeading>90</referenceHeading>
            <referenceAltitude>10</referenceAltitude>
            <offset>0 0 0</offset>
            <drift>0.001 0.001 0.001</drift>
            <gaussianNoise>0.05 0.05 0.05</gaussianNoise>
            <velocityDrift>0.001 0.001 0.001</velocityDrift>
            <velocityGaussianNoise>0.5 0.5 0.5</velocityGaussianNoise>
        </plugin>
    </gazebo> -->
</robot>