<launch>
    <arg name="is_simulation" default="false" />
    <arg name="route_dir" default="ww" />

    <!--Topics Name-->
    <arg name="imu_topic" default="/imu/data" />
    <arg name="gps_topic" default="/gps/fix" />
    <arg name="compass_topic" default="/imu_um7/mag" />

    <!-- Custom Odometry -->
    <arg name="position_input" default="gps" />
    <arg name="orientation_input" default="compass" />
    <arg name="custom_odom_topic" default="odom2" />

    <!-- Data File -->
    <arg name="node_file" default="$(find husky_line_coverage)/maps/node_data" />
    <arg name="route_file" default="$(find husky_line_coverage)/maps/route" />

    <!-- Init Static TF -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom2_init"  args="0 0 0 0 0 0 map odom2_init" /> -->


    <!-- Simulation -->
    <!-- <group if="$(arg is_simulation)">
        <node pkg="husky_line_coverage" name="gps-simulator" type="gps.py"/>
    </group> -->
    
    <!-- <param name="node_file" value="$(arg node_file)" />
    <param name="route_file" value="$(arg route_file)" /> -->

    <param name="node_file" value="$(arg node_file)" />
    <param name="route_file" value="$(arg route_file)" />

    <param name="imu_topic" value="$(arg imu_topic)" />
    <param name="gps_topic" value="$(arg gps_topic)" />
    <param name="compass_topic" value="$(arg compass_topic)" />

    <param name="custom_odom_topic" value="$(arg custom_odom_topic)" />
    <param name="position_input" value="$(arg position_input)" />
    <param name="orientation_input" value="$(arg orientation_input)" />
    
    <node pkg="husky_line_coverage" name="odom2_controller" type="odom.py" output="screen" />
    <node pkg="husky_line_coverage" name="rviz_supporter" type="rviz.py" output="screen" />

    <!-- <node pkg="husky_line_coverage" name="run" type="start.py" output="screen">
        <param name="route_plan" value="$(arg world_name)" />
    </node> -->
</launch>